html {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: $primary-font;
  font-size: $primary-font-size;
  font-weight: 700;
  line-height: 1.2;
  color: $text-color-dark;
}

*,
* ::before,
* ::after {
  box-sizing: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

a {
  display: block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 100%;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: none;
}
