@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0px;
}

.container {
  max-width: 1050px;
  margin: 0px auto;
  padding: 32px 16px;
}

.search-form {
  width: 100%;
  line-height: 1.5;
  outline-style: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 5px;
  margin-bottom: 50px;
}

.wrapper {
  display: flex;
  margin-bottom: 20px;
}

.search-form__input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  padding: 10px 5px;
}

.search-form__btn {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  width: 150px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  margin: 0px auto;
}

.copyright__text {
  margin-right: 20px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.copyright__link {
}

.copyright__icon {
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(260px, auto);
  grid-gap: 15px;
  margin-bottom: 50px;
}

.gallery__item {
  padding: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.24);
  transition: 0.2s;
}

.gallery__item:hover {
  transform: scale(1.05);
}

.photo-card img {
  height: 250px;
  cursor: zoom-in;
  opacity: 0;
  transform: translateX(-50%);
  transition: 0.5s;
}

.lazy.is-lazy {
  opacity: 1;
  transform: translateX(0);
  transition: 0.5s;
}

.stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.material-icons {
  vertical-align: middle;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.button.is-hidden {
  display: none;
}

.button__spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}

.button__spinner.is-hidden {
  display: none;
}

.scroll-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  color: rgb(220, 220, 220);
  cursor: pointer;
  border-radius: 50px;
  visibility: hidden;
  box-shadow: inset 0 0 0 4px rgb(220, 220, 220);
  opacity: 0;
  transition: 0.2s;
  transform: translateY(25px);
}

.scroll-up::before {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  content: '\2191';
}

.scroll-up:hover {
  color: rgb(265, 61, 0);
}

.scroll-up.is-active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.scroll-up__path {
  box-sizing: border-box;
  fill: none;
  stroke: rgb(265, 61, 0);
  stroke-width: 4px;
  transition: 0.2s;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 1050px;
  }
}

/* 768-992px */
@media screen and (max-width: 992px) {
  .container {
    width: 700px;
  }
}

/* 576-768px */
@media screen and (max-width: 768px) {
  .container {
    width: 520px;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .photo-card img {
    width: 100%;
  }
}

/* 320-576px */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  .photo-card img {
    width: 100%;
  }

  .copyright {
    flex-direction: column;
  }

  .copyright__text {
    margin-right: 0px;
  }
}
