:root {
  --ffrt: 'Roboto', sans-serif;
  --ffks: 'Kaushan Script', cursive;
  --cr-light: rgb(153, 153, 153);
  --cr-dark: rgb(51, 51, 51);
  --fs-big: 24px;
  --lh-auto: 1.2;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  color: var(--cr-light);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.nav-menu {
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo[class="logo"] {
  font-size: calc(var(--fs-big) + 6px);
  font-weight: 700;
  line-height: var(--lh-auto);
  text-transform: none;
  color: rgb(149, 225, 211);
  animation: fadeInDown .8s linear .5s;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 480px;
  justify-content: space-between;
  font-size: 14px;
  line-height: var(--lh-auto);
}

.nav__list-link {
  position: relative;
  color: rgb(149, 225, 211);
  transition: color 0.2s linear;
}

.nav__list-link::after {
  display: block;
  width: 0%;
  content: "";
  height: 3px;
  background-color: rgb(243, 129, 129);
  position: absolute;
  bottom: -12px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
}

.nav__list-link:hover::after {
  width: 100%;
  opacity: 1;
  visibility: visible;
}

.nav__list-link:hover,
.nav__list-link:focus {
  outline: none;
  color: rgb(243, 129, 129);
}

.page-services {
  padding-top: 112px;
}

.section-title {
  margin-bottom: 64px;
  text-align: center;
  text-transform: uppercase;
  font-size: calc(var(--fs-big) + 6px);
  line-height: var(--lh-auto);
  color: var(--cr-dark);
}

.section-title span {
  margin-bottom: 20px;
  display: block;
  text-transform: none;
  font-family: var(--ffks);
  font-size: var(--fs-big);
  font-weight: 400;
}

.section-title::after {
  margin: 43px auto 0px;
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: rgb(243, 129, 129);
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services__list-item {
  padding-left: 82px;
  flex-basis: 382px;
  background-repeat: no-repeat;
  background-position: left 20px top;
}

.services__list-item:not(:nth-last-of-type(-n+3)){
  margin-bottom: 98px;
}

.services__list-icon-alarm {
  background-image: url("../img/icon/icon-alarm.png");
}

.services__list-icon-line {
  background-image: url("../img/icon/icon-line.png");
}

.services__list-icon-computer {
  background-image: url("../img/icon/icon-computer.png");
}

.services__list-icon-book {
  background-image: url("../img/icon/icon-book.png");
}

.services__list-icon-home {
  background-image: url("../img/icon/icon-home.png");
}

.services__list-icon-digital {
  background-image: url("../img/icon/icon-digital.png");
}

.services__list-item-subtitle {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--cr-dark);
  line-height: var(--lh-auto);
}

.services__list-item-text {
  font-family: var(--ffrt);
}

.page-team {
  padding-top: 100px;
}

.section-text {
  margin: 0 auto;
  max-width: 980px;
  margin-bottom: 92px;
  font-family: var(--ffrt);
  text-align: center;
}

.team__list-item {
  text-align: center;
}

.team__list-item-img-wrapper {
  position: relative;
  margin-bottom: 30px;
  transition: 0.2s linear;
}

.team__list-item-name {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: var(--lh-auto);
  color: var(--cr-dark);
}

.team__list-item-position {
  font-family: var(--ffrt);
  font-weight: 300;
  font-style: italic;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team__list-item {
  flex-basis: 382px;
}

.team__list-item:hover
.team__list-item-img-wrapper {
  transform: translate(-10px, -10px);
}

.team__list-item:hover
.overlay-team {
  box-shadow: 10px 10px 0px 0px
  rgb(149, 225, 211);
  opacity: 1;
  /* visibility: visible; */
}

.overlay-team {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(0deg,
  rgba(252,227,138, .9) 0%,
  rgba(243,129,129, .9) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  /* visibility: hidden; */
  transition: opacity 0.2s linear;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-list__item:not(:last-of-type) {
  margin-right: 1px;
}

.social-list__item-link {
  width: 55px;
  height: 55px;
  background-color: rgb(252, 227, 138);
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s linear;
}

.social-list__item-link:hover,
.social-list__item-link:focus {
  outline: none;
  background-color: rgb(149, 225, 211);
}

.social-list__item-link-facebook {
  background-image: url(../img/social/icon-facebook.png)
}

.social-list__item-link-twitter {
  background-image: url(../img/social/icon-twitter.png)
}

.social-list__item-link-pinterest {
  background-image: url(../img/social/icon-pinterest.png)
}

.social-list__item-link-instagram {
  background-image: url(../img/social/icon-instagram.png)
}

.page-footer {
  padding: 82px 0px 10px;
}

.footer-container {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid
  rgb(229, 229, 229);
}

.footer-copy {
  font-size: 14px;
  line-height: var(--lh-auto);
  color: var(--cr-dark);
}

.footer-link[class="footer-link"] {
  display: inline-block;
  text-transform: none;
  color: rgb(243, 129, 129);
}

.subscribe-email {
  outline: none;
  padding: 0px;
  border: 1px solid
  rgb(231, 231, 231);
  width: 234px;
  height: 40px;
}

.subscribe-form {
  display: flex;
}

.subscribe-email::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: italic;
  padding-left: 13px;
  color: rgb(204, 204, 204);
}

.subscribe-btn {
  display: block;
  padding: 0px;
  border: none;
  background-color: rgb(149, 225, 211);
  width: 150px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  outline: none;
  cursor: pointer;
}
