:root {
  --ffrt: 'Roboto', sans-serif;
  --ffks: 'Kaushan Script', cursive;
  --cr-light: rgb(153, 153, 153);
  --cr-dark: rgb(51, 51, 51);
  --fs-big: 24px;
  --lh-auto: 1.2;
}

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  color: var(--cr-light);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.nav-menu {
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo[class="logo"] {
  font-size: calc(var(--fs-big) + 6px);
  font-weight: 700;
  line-height: var(--lh-auto);
  text-transform: none;
  color: rgb(149, 225, 211);
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 480px;
  justify-content: space-between;
  font-size: 14px;
  line-height: var(--lh-auto);
}

.nav__list-link {
  position: relative;
  color: rgb(149, 225, 211);
}

.nav__list-link:hover:after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: "";
  margin-top: 12px;
  width: 100%;
  height: 3px;
  background-color: rgb(243, 129, 129);
}

.nav__list-link:hover,
.nav__list-link:focus {
  outline: none;
  color: rgb(243, 129, 129);
  transition: 0.3s linear;
}

.page-services {
  padding-top: 112px;
}

.section-title {
  margin-bottom: 64px;
  text-align: center;
  text-transform: uppercase;
  font-size: calc(var(--fs-big) + 6px);
  line-height: var(--lh-auto);
  color: var(--cr-dark);
}

.section-title span {
  margin-bottom: 20px;
  display: block;
  text-transform: none;
  font-family: var(--ffks);
  font-size: var(--fs-big);
  font-weight: 400;
}

.section-title::after {
  margin: 43px auto 0px;
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: rgb(243, 129, 129);
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services__list-item {
  padding-left: 82px;
  flex-basis: 382px;
  background-repeat: no-repeat;
  background-position: left 20px top;
}

.services__list-item:not(:nth-last-of-type(-n+3)){
  margin-bottom: 98px;
}

.services__list-icon-alarm {
  background-image: url("../img/icon/icon-alarm.png");
}

.services__list-icon-line {
  background-image: url("../img/icon/icon-line.png");
}

.services__list-icon-computer {
  background-image: url("../img/icon/icon-computer.png");
}

.services__list-icon-book {
  background-image: url("../img/icon/icon-book.png");
}

.services__list-icon-home {
  background-image: url("../img/icon/icon-home.png");
}

.services__list-icon-digital {
  background-image: url("../img/icon/icon-digital.png");
}

.services__list-item-subtitle {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--cr-dark);
  line-height: var(--lh-auto);
}

.services__list-item-text {
  font-family: var(--ffrt);
}

.page-team {
  padding-top: 100px;
}

.section-text {
  margin-bottom: 92px;
  font-family: var(--ffrt);
  text-align: center;
}

.team__list-item {
  text-align: center;
}

.team__list-item-img-wrapper {
  margin-bottom: 30px;

}

.team__list-item-name {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: var(--lh-auto);
  color: var(--cr-dark);
}

.team__list-item-position {
  font-family: var(--ffrt);
  font-weight: 300;
  font-style: italic;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team__list-item {
  flex-basis: 382px;
}

.team__list-item:hover
.team__list-item-img-wrapper {
  transform: translate(-10px, -10px);
  transition: 0.2s linear;
}

.team__list-item:hover
.overlay-team {
  box-shadow: 10px 10px 0px 0px
  rgb(149, 225, 211);
  transition: 0.5s linear;
  opacity: 1;
}

.team__list-item-img-wrapper {
  position: relative;
}

.overlay-team {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(0deg,
  rgba(252,227,138, .9) 0%,
  rgba(243,129,129, .9) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-list__item:not(:last-of-type) {
margin-right: 1px;
}

.social-list__item-link {
  width: 55px;
  height: 55px;
  background-color: rgb(252, 227, 138);
  background-repeat: no-repeat;
  background-position: center;
}

.social-list__item-link:hover,
.social-list__item-link:focus {
  outline: none;
  background-color: rgb(149, 225, 211);
  transition: 0.2s linear;
}



.social-list__item-link-facebook {
  background-image: url(../img/social/icon-facebook.png)
}

.social-list__item-link-twitter {
  background-image: url(../img/social/icon-twitter.png)
}

.social-list__item-link-pinterest {
  background-image: url(../img/social/icon-pinterest.png)
}

.social-list__item-link-instagram {
  background-image: url(../img/social/icon-instagram.png)
}

.page-footer {
  padding-top: 82px;
}
