@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url(../fonts/montserrat-v14-latin-700.woff2) format('woff2'),
  url(../fonts/montserrat-v14-latin-700.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
  url(../fonts/roboto-v20-latin-300.woff2) format('woff2'),
  url(../fonts/roboto-v20-latin-300.woff) format('woff');
}

:root {
  --ffrt: 'Roboto', sans-serif;
  --cr-white: rgb(255, 255, 255);
  --cr-light: rgb(102, 102, 102);
  --cr-dark: rgb(51, 51, 51);
  --fs-small: 1.125rem;
  --fs-mid: 1.375rem;
  --fs-big: 1.5rem;
  --fw-light: 300;
}

html {
  font-size: 16px;
}

body {
  margin: 0px;
  font-family: 'Montserrat',  sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--cr-dark);
}

.container {
  max-width: 940px;
  width: 320px;
  margin: 0px auto;
}

.page-header {
  padding: 20px 0px 138px;
  background-color: rgb(26, 25, 21);
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.nav-menu {
  margin-bottom: 36px;
}

.nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav__list-btn {
  display: block;
  padding: 0px;
  width: 94px;
  height: 40px;
  border: none;
  background-color: transparent;
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--cr-white);
  outline: none;
  cursor: pointer;
}

.nav__list-btn:hover,
.nav__list-btn:focus {
  border: 2px solid var(--cr-white);
  border-radius: 25px;
}

.logo {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--cr-white);
  letter-spacing: 0.0625rem;
}

.header-title[class="header-title"] {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.875rem;
  color: var(--cr-white);
  text-transform: uppercase;
  overflow: hidden;
}

.header-text[class="header-text"] {
  margin-bottom: 18px;
  width: 218px;
  text-align: center;
  font-family: var(--ffrt);
  font-size: var(--fs-small);
  font-weight: var(--fw-light);
  color: var(--cr-white);
  overflow: hidden;
}

.header-link {
  margin: 0px auto;
  padding: 10px 0px;
  width: 280px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

.header-link-first {
  background-color: rgb(255, 78, 80);
  color: var(--cr-white);
}

.header-link-second {
  background-color: var(--cr-white);
  border: 2px solid rgb(255, 78, 80);
  color: rgb(255, 78, 80);
}

.page-partner {
  padding-top: 74px;
}

.section-title {
  margin-bottom: 18px;
  font-size: var(--fs-mid);
  text-align: center;
}

.partner__list {
  text-align: center;
}

.partner__list-img-wrapper {
  position: relative;
  margin-bottom: 22px;
  display: inline-block;
}

.partner__list-img-wrapper::after {
  position: absolute;
  right: 0px;
  bottom: 0px;
  content: "";
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid var(--cr-white);
  border-radius: 50%;
}

.partner__list-icon-tv::after {
  background-color: rgb(255, 78, 80);
  background-image: url(../img/icon/icon-tv.png);
}

.partner__list-icon-coffee::after {
  background-color: rgb(28, 215, 173);
  background-image: url(../img/icon/icon-coffee.png);
}

.partner__list-icon-flask::after {
  background-color: rgb(255, 165, 7);
  background-image: url(../img/icon/icon-flask.png);
}

.partner__list-icon-telegram::after {
  background-color: rgb(78, 115, 219);
  background-image: url(../img/icon/icon-telegram.png);
}

.partner__list-img {
  border-radius: 50%;
}

.partner__list-name[class="partner__list-name"] {
  margin-bottom: 18px;
}

.partner__list-desc {
  font-family: var(--ffrt);
  font-weight: var(--fw-light);
  color: var(--cr-light);
}
