.body {
  margin: 0px;
  font-family: "Roboto";
  color: rgba(15, 1, 1);
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}

.container {
  width: 1110px;
  margin: 0px auto;
}

.page-header {

}

.site-logo {
  float: left;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: -0.6px;
}

.logo::first-letter {
  font-weight: 700;
  color: rgba(26, 188, 156)
}

.menu-nav {
  padding-top: 42px;
}

.menu-nav a {
  display: block;
  text-decoration: none;
}

.logo {
  color: rgba(85, 82, 82);
}

.menu-nav-list {
  float: right;
  font-family: "Open Sens";
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.6px;
}

.menu-nav-list a {
  color: rgba(15, 1, 1);
}

.menu-nav-list li {
  float: left;
}

.menu-nav a:hover,
.menu-nav a:focus {
  color: rgb(26, 188, 156);
}

.menu-nav-list li:not(:last-child) {
  margin-right: 30px;
}
