.header__btn {
  margin: 0px auto;
  padding: 14px 30px;
  width: 170px;
  height: 44px;
  border: 3px solid $main-color-white;
  color: $main-color-white;
  background-color: transparent;
  text-transform: uppercase;
  overflow: hidden;
  transition: transform 0.3s linear, background-color 0.3s linear;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(243, 129, 129, 0.3);
    transform: scale(1.03);
    outline: none;
  }
}
