.page-header {
  padding: 1.625rem 0rem 14.375rem;
  background-image: linear-gradient(0deg,
  rgba(252, 227, 138, 0.9) 0%,
  rgba(243, 129, 129, 0.9) 100%), url(../images/bg.jpg);

  @include bg-image($size: cover);

  @media (min-resolution: 192dpi) {
    background-image: linear-gradient(0deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%), url(../images/bg@2x.jpg);
  }
}

.header__subtitle {
  @extend %main-title;
  margin-bottom: 1.875rem;
  max-width: 36.25rem;
  font-family: $accent-font;
  font-size: 4.5rem;
}

.header__title {
  @extend %main-title;
  margin-bottom: 6.25rem;
  max-width: 51.25rem;
  font-size: 9.375rem;
  font-weight: 700;
  line-height: 9rem;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

.header__btn {
  margin: 0rem auto;
  padding: 0.875rem 1.875rem;
  max-width: 10.625rem;
  max-height: 2.875rem;
  border: 3px solid $main-color-white;
  color: $main-color-white;
  background-color: transparent;
  text-transform: uppercase;
  overflow: hidden;
  transition: transform 0.3s linear, background-color 0.3s linear;

  &:hover,
  &:focus {
    box-shadow: 0rem 0.0625rem 0.3125rem 0.125rem rgba(0, 0, 0, 0.5);
    background-color: rgba(243, 129, 129, 0.3);
    transform: scale(1.03);
    outline: none;
  }
}
