.page-header {
  padding: 26px 0px 230px;
  background-image: linear-gradient(0deg,
  rgba(252, 227, 138, 0.9) 0%,
  rgba(243, 129, 129, 0.9) 100%), url(../images/bg.jpg);

  @include bg-image($size: cover);

  @media (min-resolution: 192dpi) {
    background-image: linear-gradient(0deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%), url(../images/bg@2x.jpg);
  }
}
