.section {
  padding-top: 5.25rem;

  &-title {
    margin-bottom: 3.875rem;
    font-size: $big-font-size;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &__subtitle {
      margin-bottom: 0.875rem;
      display: block;
      font-family: $accent-font;
      font-size: $mid-font-size;
      font-weight: $font-height-regular;
      text-transform: none;
    }

    &::after {
      @include psevdo($display: block);
      margin: 2.125rem auto 0rem;
      width: 3.75rem;
      height: 0.1875rem;
      background-color: $accent-color-red;
    }
  }

  &-text {
    margin: 0rem auto 2.75rem;
    max-width: 61.25rem;
    font-family: $secondary-font;
    font-size: $small-font-size;
    line-height: 1.5rem;
    color: $text-color-light;
    text-align: center;
  }
}
