body {
  margin: 0px;
  font-family: 'Roboto', Arial, sans-serif;
  color: rgb(85, 82, 82);
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}

.container {
  width: 1110px;
  margin: 0px auto;
}

.menu-nav {
  padding-top: 40px;
}

.logo {
  float: left;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.6px;
}

.logo::first-letter {
  color: rgb(26, 188, 156);
  font-family: 'Roboto';
  font-weight: 700;
  letter-spacing: -0.6px;
}

.menu-nav-list {
  float: right;
}

.menu-nav-list li {
  float: left;
}

.menu-nav-list li:not(:last-child) {margin-right: 32px;}

.menu-nav a {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 17px;
  color: rgb(15, 1, 1);
  transition: 0.3s;
}

.menu-nav a:hover,
.menu-nav a:focus {
  color: rgb(26, 188, 156);
}

.page-featured {
  padding-top: 100px;
}

.title {
  text-align: center;
  color: rgb(81, 81, 81);
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.title::after {
  margin: 20px auto 92px;
  display: block;
  width: 164px;
  height: 7px;
  background-color: rgb(26, 188, 156);
  content: "";
}

.featured-list-item {
  width: 255px;
  float: left;
}

.featured-list-item:hover {
  box-shadow: 0px 0px 12px 5px rgba(0,0,0, 0.5);
}

.featured-list-item:hover .inner-desc {
  background-color: rgb(26, 188, 156);
}

.featured-list-img {
  filter: grayscale(1);
}

.featured-list-item:hover
.featured-list-img {
  filter: grayscale(0);
}

.featured-list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.featured-list-item:not(:nth-last-child(-n+4)) {
  margin-bottom: 30px;
}

.featured-list-item a {
  display: block;
}

.featured-list-item img {
  background-color: rgb(233, 240, 253)
}

.inner-desc {
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
  letter-spacing: -0.6px;
  transition: 0.3s;
}

.inner-desc a {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.inner-desc h3 {
  width: 170px;
  padding: 8px 14px;
  float: left;
  font-size: 18px;
}

.inner-desc p {
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, .44);
  margin: 0px;
  float: right;
  font-weight: 700;
}

.page-news {

  padding-top: 100px;
}

.row-preview {
  padding-bottom: 82px;
  float: left;
  width: 350px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -0.6px;
}

.row-preview:not(:last-child) {
  margin-right: 30px;
}

.row-preview h3 {
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
}

.row-preview h3::after {
  margin: 10px 0px 22px;
  display: block;
  width: 136px;
  height: 3px;
  background-color: rgb(78, 198, 171);
  content: "";
}

.row-preview p {
  margin: 0px 0px 12px;
  padding-right: 22px;
}

.preview-img {
  width: 350px;
  margin-bottom: 10px;
}

.btn-link {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  min-width: 160px;
  padding: 14px 40px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(78, 198, 171);
}
