@media (max-width: 767px) {
  .nav-menu-mb {
    margin-bottom: 36px;
  }

  .nav__list-mb {
    margin-bottom: 118px;
  }

  .header-title-mb {
    margin-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .header-title {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
  }

  .header-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 220px;
  }

  .header-text-mb {
    margin-bottom: 18px;
  }

  .page-partner {
    padding-bottom: 56px;
  }

  .section-title {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
  }

  .partner__list-item:not(:last-of-type) {
    margin-bottom: 28px;
  }

  .partner__list-desc {
    margin-right: auto;
    margin-left: auto;
  }

  .partner__list-mb {
    margin-bottom: 28px;
  }







  /*
  .page-partner {
    padding-bottom: 56px;
  }

  .partner__list-item {
    margin: 0px auto;
  }*/
}

@media (min-width: 768px) {
  .page-header {
    padding-top: 38px;
    padding-bottom: 234px;
  }

  .nav-menu-mb {
    margin-bottom: 148px;
  }

  .header-title-mb {
    margin-bottom: 40px;
  }

  .header-title {
    font-size: 52px;
    max-width: 505px;
  }

  .header-text-mb {
    margin-bottom: 38px;
  }

  .header-text {
    font-size: 24px;
  }

  .header-link-first {
    max-width: 225px;
  }

  .section-title-mb {
    margin-bottom: 36px;
  }

  .partner__list-mb {
    margin-bottom: 40px;
  }

  .header-link-second {
    max-width: 196px;
  }






  /*

  .partner__list-item {
    flex-basis: 220px;
  } */
}

@media (min-width: 768px) and (max-width: 959px) {
  .page-header {
    background-image: url(../img/bg-tab.png);
  }

  .partner__list-item:not(:nth-last-of-type(-n+2)) {
    margin-bottom: 58px;
  }

  .page-partner {
    padding-bottom: 40px;
  }
}

@media (min-width: 960px) {
  .page-header {
    background-image: url(../img/bg.png);
  }

  .page-partner {
    padding-bottom: 72px;
  }
}
