$colors: (
  main-color-white: rgb(255, 255, 255);
  text-color-light: rgb(153, 153, 153);
  text-color-dark: rgb(51, 51, 51);
  accent-color-yellow: rgb(252, 227, 138);
  accent-color-red: rgb(243, 129, 129);
  background-color-blue: rgb(149, 225, 211);
  color-input-valid: rgb(118, 255, 3);
  color-input-invalid:  rgb(255, 0, 0);
)

.selector {
color: map-get($colors: , $main-color-white: );
}
