%main-title {
  margin: 0px auto;
  color: $main-color-white;
  text-align: center;
  overflow: hidden;
}

%flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

%button {
  display: block;
  outline: none;
  cursor: pointer;
}
