.container {
  max-width: 900px;
  margin: 0px auto;
  padding: 30px 0px;
}

.task-section {
  padding: 10px 0px 0px;
}

.task-section__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.task-section__text {
  margin-bottom: 10px;
}

.btn {
  padding: 2px;
  border: 1px solid grey;
}
