@media (max-width: 767px) {
  .nav-menu-mb {
    margin-bottom: 2.25rem;
  }

  .nav__list-mb {
    margin-bottom: 7.375rem;
  }

  .header-title-mb {
    margin-bottom: 1.25rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .header-title {
    max-width: 20rem;
    margin-right: auto;
    margin-left: auto;
  }

  .header-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 13.75rem;
  }

  .header-text-mb {
    margin-bottom: 1.125rem;
  }

  .page-partner {
    padding-bottom: 3.5rem;
  }

  .section-title {
    max-width: 16.875rem;
    margin-left: auto;
    margin-right: auto;
  }

  .partner__list-item:not(:last-of-type) {
    margin-bottom: 1.75rem;
  }

  .partner__list-desc {
    margin-right: auto;
    margin-left: auto;
  }

  .partner__list-mb {
    margin-bottom: 1.75rem;
  }
}

@media (min-width: 768px) {
  .page-header {
    padding-top: 2.375rem;
    padding-bottom: 14.625rem;
  }

  .nav-menu-mb {
    margin-bottom: 9.25rem;
  }

  .header-title-mb {
    margin-bottom: 2.5rem;
  }

  .header-title {
    font-size: 3.25rem;
    max-width: 31.5625rem;
  }

  .header-text-mb {
    margin-bottom: 2.375rem;
  }

  .header-text {
    font-size: 1.5rem;
  }

  .header-link-first {
    max-width: 14.0625rem;
  }

  .section-title-mb {
    margin-bottom: 2.25rem;
  }

  .partner__list-mb {
    margin-bottom: 2.5rem;
  }

  .header-link-second {
    max-width: 12.25rem;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .page-header {
    background-image: url(../img/bg-tab.png);
  }

  .partner__list-item:not(:nth-last-of-type(-n+2)) {
    margin-bottom: 3.625rem;
  }

  .page-partner {
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 960px) {
  .page-header {
    background-image: url(../img/bg.png);
  }

  .page-partner {
    padding-bottom: 4.5rem;
  }
}
