@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url(../fonts/montserrat-v14-latin-regular.woff2) format('woff2'),
  url(../fonts/montserrat-v14-latin-regular.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url(../fonts/montserrat-v14-latin-700.woff2) format('woff2'),
  url(../fonts/montserrat-v14-latin-700.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url(../fonts/roboto-v20-latin-regular.woff2) format('woff2'),
  url(../fonts/roboto-v20-latin-regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
  url(../fonts/roboto-v20-latin-300italic.woff2) format('woff2'),
  url(../fonts/roboto-v20-latin-300italic.woff) format('woff');
}

@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript'),
  url(../fonts/KaushanScript-Regular.otf) format('opentype');
}

:root {
  --ffrt: 'Roboto', sans-serif;
  --ffks: 'Kaushan Script', sans-serif;
  --cr-white: rgb(255, 255, 255);
  --cr-light: rgb(153, 153, 153);
  --cr-dark: rgb(51, 51, 51);
  --fs-small: 15px;
  --fs-mid: 24px;
  --fs-big: 30px;
  --fw-light: 300;
  --fw-regular: 400;
}

html {
  font-size: 16px;
}

body {
  margin: 0px;
  font-family: 'Montserrat',  sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--cr-dark);
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

.page-header {
  padding: 26px 0px 230px;
  background-image: linear-gradient( 0deg,
  rgba(252,227,138, .9) 0%,
  rgba(243,129,129, .9) 100%),
  url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  margin-bottom: 150px;
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  font-size: var(--fs-big);
  color: var(--cr-white);
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 614px;
}

.nav__link {
  font-weight: var(--fw-regular);
  color: var(--cr-white);
  text-transform: uppercase;
  transition: 0.3s linear;
}

.nav__link:hover {
  color: rgb(252, 227, 138);
  padding-bottom: 12px;
  border-bottom: 3px solid rgb(252, 227, 138);
  width: 100%;
}

.nav__btn {
  display: block;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.nav__btn-icon {
  display: block;
  width: 18px;
  height: 15px;
  fill: var(--cr-white);
  transition: transform 0.3s linear;
}

.nav__btn-icon:hover {
  transform: scale(1.3);
  fill: rgb(252, 227, 138);
}

.header__subtitle {
  margin: 0px auto 30px;
  max-width: 580px;
  font-family: var(--ffks);
  font-size: 72px;
  color: var(--cr-white);
  text-align: center;
  overflow: hidden;
}

.header__title {
  margin: 0px auto 100px;
  max-width: 820px;
  font-size: 150px;
  font-weight: 700;
  line-height: 144px;
  letter-spacing: -0.05em;
  color: var(--cr-white);
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
}

.header__btn {
  margin: 0px auto;
  padding: 14px 30px;
  width: 170px;
  height: 44px;
  border: 3px solid var(--cr-white);
  color: var(--cr-white);
  background-color: transparent;
  text-transform: uppercase;
  overflow: hidden;
  transition:
  transform 0.3s linear,
  background-color 0.3s linear;
}

.header__btn:hover,
.header__btn:focus {
  box-shadow: 0px 1px 5px 2px rgba(0,0,0, .5);
  background-color: rgba(243,129,129, .3);
  transform: scale(1.03);
}

.services {
  padding-top: 44px;
}

.section-title__subtitle {
  margin-bottom: 14px;
  display: block;
  font-family: var(--ffks);
  font-weight: var(--fw-regular);
  font-size: var(--fs-mid);
  text-transform: none;
}

.section-title {
  margin-bottom: 62px;
  font-size: var(--fs-big);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.section-title::after {
  margin: 34px auto 0px;
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: rgb(243, 129, 129);
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services__item {
  padding-left: 82px;
  flex-basis: 382px;
  background-position: left 20px top;
  background-repeat: no-repeat;
}

.services__item:not(:nth-last-of-type(-n+3)) {
  margin-bottom: 92px;
}

.services__item--icon-alarm {
  background-image: url(../img/icon/icon-alarm.svg);
}

.services__item--icon-line {
  background-image: url(../img/icon/icon-line.svg);
}

.services__item--icon-computer {
  background-image: url(../img/icon/icon-computer.svg);
}

.services__item--icon-book {
  background-image: url(../img/icon/icon-book.svg);
}

.services__item--icon-home {
  background-image: url(../img/icon/icon-home.svg);
}

.services__item--icon-digital {
  background-image: url(../img/icon/icon-digital.svg);
}

.services__title {
  margin-bottom: 14px;
  text-transform: uppercase;
}

.services__text {
  font-family: var(--ffrt);
  font-size: var(--fs-small);
  line-height: 24px;
  color: var(--cr-light);
}

.team {
  padding-top: 84px;
}

.section-text {
  margin: 0 auto 44px;
  max-width: 980px;
  font-family: var(--ffrt);
  font-size: var(--fs-small);
  line-height: 24px;
  color: var(--cr-light);
  text-align: center;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team__item {
  flex-basis: 380px;
  text-align: center;
}

.team__item:hover .team__overlay {
  box-shadow: 10px 10px 0px 0px
  rgb(149, 225, 211);
  opacity: 1;
}

.team__item:hover .team__wrapper {
  transform: translate(-10px, -10px);
}

.team__wrapper {
  position: relative;
  margin-bottom: 28px;
  transition: 0.3s linear;
}

.team__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(0deg,
  rgba(252,227,138, .9) 0%,
  rgba(243,129,129, .9) 100%);
  opacity: 0;
  transition: opacity 0.3s linear;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social__item:not(:last-of-type) {
  margin-right: 1px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: rgb(252, 227, 138);
  transition: 0.3s linear;
}

.social__link:hover,
.social__link:focus {
  outline: none;
  background-color: rgb(243, 129, 129);
}

.social__link:hover .social__icon {
  fill: rgb(255, 255, 255);
}

.social__icon {
  width: 28px;
  height: 28px;
  fill: rgb(243, 129, 129);
  transition: 0.3s linear;
}

.team__item-name {
  text-transform: uppercase;
}

.team__item-position {
  font-family: var(--ffrt);
  font-size: var(--fs-small);
  font-weight: var(--fw-light);
  line-height: 24px;
  font-style: italic;
  color: var(--cr-light);
}

.page-footer {
  padding: 86px 0px 10px;
}

.footer__container {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid
  rgb(229, 229, 229);
}

.footer__copy {
  font-size: 14px;
}

.footer__link {
  display: inline-block;
  text-transform: none;
  color: rgb(243, 129, 129);
}

.footer__form {
  display: flex;
}

.footer__input {
  padding: 10px;
  width: 236px;
  height: 46px;
  border: 1px solid
  rgb(231, 231, 231);
}

.footer__input:focus {
  outline: none;
}

.footer__input:required:focus:valid:not(:placeholder-shown) {
  border: 1px solid rgb(118, 255, 3);
}

.footer__input:required:focus:invalid:not(:placeholder-shown) {
  border: 1px solid rgb(255, 0, 0);
}

.footer__input::placeholder {
  padding-left: 10px;
  font-family: var(--ffrt);
  font-style: italic;
  font-size: var(--fs-small);
  line-height: 1.6;
  color: rgb(204, 204, 204);
}

.footer__btn {
  display: block;
  background-color: rgb(149, 225, 211);
  width: 150px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--cr-white);
  outline: none;
  cursor: pointer;
  transition: 0.3s linear;
}

.footer__btn:hover,
.footer__btn:focus {
  box-shadow: 0px 1px 5px 2px rgba(0,0,0, .5);
  background-color: rgba(243, 129, 129);
  transform: scale(1.02);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .page-header {
  background-image: linear-gradient(0deg,
  rgba(252,227,138, .9) 0%,
  rgba(243,129,129, .9) 100%),
  url(../img/bg@2x.jpg);
  }
}
