body {
  padding-top: 150px;
  background-image: url(../images/bg.png);
}

.form-input {
  padding: 10px;
  text-align: center;
  margin: auto;
  display: block;
  font-size: 20px;
  height: 40px;
  min-width: 300px;
  border-style: solid;
  border-radius: 20px;
  outline: none;
}

.country__title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 50px;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.country__card {
  margin-right: 30px;
  font-size: 25px;
  line-height: 1.8;
}

.country__list {
  font-size: 25px;
  line-height: 1.5;
  margin: auto;
  text-align: center;
}

.country__card-list {
  padding-left: 30px;
}

.country__card-item {
  list-style-type: square;
}
