.container {
  max-width: 900px;
  margin: 0px auto;
  padding: 30px 0px;
}

.task-section {
  padding: 10px;
  border: 1px solid grey;
  box-shadow: inset 0px 0px 5px 1px;
}

.task-section:not(:last-of-type) {
  margin-bottom: 10px;
}

.task-section__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.task-section__text {
  margin-bottom: 10px;
}

.task-section__list {
  display: flex;
  flex-wrap: wrap;
}

.task-section__item:not(:last-of-type) {
  margin-bottom: 10px;
}
.item h2 {
  font-size: 18px;
  font-weight: 600;
}

.item li {
  font-size: 16px;
  font-weight: 400;
}

.btn {
  margin: 5px;
  padding: 2px;
  border: 1px solid grey;
  display: block;
}

.task-section__input {
  border: 3px solid #bdbdbd;
}
